label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img {
    display: none;
}

.content button.btnCadastrar {
    width: 120px;
    margin-bottom: 10px;
}

.content button.btnVoltar {
    width: 80px;
    margin-bottom: 10px;
}
