<strong>Hello, {{ provider }}!</strong>
<p>It looks like that someone canceled an appointment. See details below:</p>
<p>
    <strong>Customer: </strong> {{ user }} <br />
    <strong>Date/time: </strong> {{ date }} <br />
    <br />
    <small>
        Therefore, this time is again available for new schedules.
    </small>
</p>